* {
    box-sizing: border-box;
}

body {
    background: url("../images/light_checkered_tiles_@2X.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777;   
}

.container {
    width: 80%;
    margin: auto;
}

.container img {
    height: 200px;
    width: 200px;
    margin: 0 2% 2% 0;
    float: left;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    background: #4aaaa5;
    color: #fff;
    padding: 2%;
    display: inline-block;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    padding: 1%;
    margin-bottom: 2%;
    border-bottom: 2px solid #ccc;

}

header {
    background: #fff;
    margin-bottom: 1%;
    border: solid;
    border-color: #fff; 
    border-bottom-color: #ccc;  
}

nav {
    float: right;
    width: 37%;
}

nav a {
    display: inline;
    font-size: 18px;
    padding: 2%;
    text-decoration: none;
}

.container #about {
    background: #fff;
    margin-top:3%;
    padding: 2%;
    border: 2px solid #ccc;
    width: 80%;
    overflow:auto;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

footer {
    background: #666;
    margin-top: 5%;
    padding: 1%;
    border-top: 5px solid;
    border-color: #4aaaa5;
    color: #fff;
    text-align: center;
}

