body {
    background-color: #777;
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    text-align: center;
    font-size: 18px;
}
div {
    background-color: #ebebeb;
}

#header {
    text-align: center;
    margin-bottom: 1%;
    padding: 30px 0;
    margin-top: 1%;
}

#nav-bar {
    padding: 30px 0;
    margin-top: 1%;
    margin-bottom: 1.5%;
}

#section {
    margin-bottom: 1.5%;
    margin-right: 2%;
    padding: 50px 0;
    width: 58%;
    float: left;
}

#aside {
    margin-bottom: 1.5%;
    padding: 50px 0;
    width: 40%;
    float: left;
}

#footer {
    line-height: 80px;
    margin-top: 1.5%;
    margin-bottom: 1%;
    overflow: auto;
}

.center {
    width: 80%;
    margin: auto;
}

#article {

}